body{
    background-color: rgb(106, 183, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    min-height: 100vh;
    margin: 0;
}
a{
    color:red;
}
img{
    width: 150px;
}
.navbar{
    position:absolute;
    top: 0;
    text-align: left;
    width: 100%;
    margin:20px
}